@use '../util/' as u;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-size: clamp(
    u.rem(16),
    0.9353448275862069rem + 0.27586206896551724vw,
    u.rem(18)
  );
  line-height: 1.7;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.wrapper {
  width: min(100% - u.rem(32), u.rem(1110));
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.curved {
  position: relative;

  &::after {
    // outline: 2px solid aqua;
    content: '';
    position: absolute;
    inset: 49.8% 0 0 0;
    width: 100%;
    height: 4vh;
    background-image: url('/assets/images/curved-hero-bottom.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &.light {
    &::after {
      background-image: url('/assets/images/curved-hero-bottom-light.svg');
    }
  }
}
