:root {
  --color-dk-purple: hsl(273, 85%, 13%);
  --color-purple: hsl(271, 12%, 34%);
  --color-green: hsl(150, 100%, 63%);
  --color-lt-gray: hsl(274, 95%, 95%);
  --color-white: hsl(0, 0%, 100%);
}
